body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.element {
  /* Default styles */
  width: 100px;
  height: 100px;
  background-color: white;
}

#o-choice {
    width: 100px;
    height: 100px;
    margin-top: 10px;
}

#y-choice {
    width: 240px;
    height: 240px;
    margin-top: 10px; 
}

#a-choices {
    width: 240px;
    height: 80px;
    margin: 0 auto;
    margin-top: 10px;
}

#choices img {
    width: 80px;
    height: 80px;
}




/* Responsive styles for screens smaller than 600px */
@media (max-width: 600px) {
  .element {
    width: 50%;
    height: 50%;
  }
}

/* Responsive styles for screens between 601px and 1024px */
@media (min-width: 601px) and (max-width: 1024px) {
  .element {
    width: 50%;
    height: 50%;
  }
}

/* Responsive styles for screens larger than 1024px */
@media (min-width: 1025px) {
  .element {
    width: 100%;
    height: 100%;
  }
}
